.profile__container-info {
  display: flex;
}

@media screen and (max-width: 700px) {
  .profile__container-info {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .profile__container-info {
    flex-direction: column;
  }
}