.element__image {
  position: relative;
  justify-self: center;
  max-width: 282px;
  max-height: 282px;
  object-fit: contain;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}