.popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -37px;
  right: -37px;
  background-image: url(../../../images/popup/closeIconBig.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
  transition: .335s ease-in-out;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .popup__close {
    background-image: url(../../../images/popup/closeIcon.svg);
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__close {
    top: -30px;
  }
}

