.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/popup/Close\ Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
  transition: .335s ease-in-out;
}

@media screen and (max-width: 500px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -30px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: .6;
}

